<div class="button-demo">
    <button type="button" class="btn btn-primary waves-effect text-ex">文本框</button>
    <button type="button" class="btn btn-primary waves-effect textarea-ex">多行文本</button>
    <button type="button" class="btn btn-primary waves-effect select-ex">下拉菜单</button>
    <button type="button" class="btn btn-primary waves-effect checkbox-ex">复选框</button>
    <button type="button" class="btn btn-primary waves-effect list-ex">列表控件</button>
</div>

<script id="@ViewData["name"].ToString()" type="text/plain" style="width:100%;height:500px;">
</script>
