<div style="width: 95%; text-align:right; margin: auto;margin-bottom:10px;">
    <button class="btn btn-primary waves-effect" type="button" id="btnAddField">添加字段</button>
</div>
<div id="FieldsContainer" style="width: 95%; margin: auto;"></div>


