@using Abp.Extensions
@using MyCreek.Web.Models.Common.Modals


@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("编辑数据"))


<div class="modal-body">
    xxxxxxxxxxxxxx
</div>

@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")